<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.post.PostMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.post.Post"></resultMap>
	
	<sql id="selectCommon">
		FROM post po
	</sql>
	<!-- paging -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			po.seq
			,po.category
			,mm.id as writer
			,po.title
			,po.contents
			,po.createDate
			,(
				SELECT 
					COUNT(*) 
				FROM thumbUp 
				WHERE poSeq = po.seq
			) AS thumbUpCount
		<include refid="selectCommon"/>
		JOIN member mm ON mm.seq = po.writer 
		ORDER BY seq DESC
		<include refid="Base.orderByLimitForMysql"/>
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	
	<!-- myPageCommunityList -->
	<select id="MyselectList" resultMap="resultMapObj">
		SELECT
			po.seq
			,po.category
			,mm.id as writer
			,po.title
			,po.contents
			,po.createDate
		FROM post po
		JOIN member mm ON mm.seq = po.writer 
		WHERE 1=1
			AND po.writer = #{writer}
	</select>  
	
	<insert id="insert">
		INSERT INTO post(
			category
			,writer
			,title  
			,contents
		)
		VALUES (
			#{category}
			,#{writer}
			,#{title}
			,#{contents}
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			po.seq
			,po.category
			,mm.id as writer
			,po.title
			,po.contents
			,po.createDate
			,(
				SELECT 
					COUNT(*) 
				FROM thumbUp 
				WHERE poSeq = #{shSeq}
			) AS thumbUpCount
			,(
				SELECT 
					COUNT(*) 
					FROM thumbUp 
					WHERE poSeq = #{shSeq} 
					AND mmSeq = #{writer}
			) AS thumbUping
		From post po
		JOIN member mm ON mm.seq = po.writer 
		WHERE 1=1
			AND po.seq=#{shSeq}
	</select>
	
	<!-- <update id="update">
		UPDATE community
		SET
			cm.seq
			,cm.category
			,mm.id as writer
			,cm.title
			,cm.contents
			,cm.createDate
		From community cm
		JOIN member mm ON mm.seq = cm.writer
		WHERE 1=1
			AND seq={seq}
	</update> -->
	
	<select id="selectCountFromCategory" resultType="Integer" parameterType="Integer">
		SELECT
			COUNT(*)
		FROM post
		WHERE 1=1
			AND category = #{i}
	</select>
	
	<select id="selectCountNewFromCategory" resultType="Integer">
		SELECT
			COUNT(*)
		FROM post
		WHERE 1=1
			AND category = #{category}
			AND createDate LIKE CONCAT ('%',#{createDate},'%')
	</select>
	
	<select id="selectLastSeq" resultType="Integer"> <!-- 마지막 seq 조회 -->
		SELECT
			seq
		FROM post
		ORDER BY seq DESC
		LIMIT 1
	</select>
	
	<insert id="insertPostUpload">
		INSERT INTO uploadedPost (
			<!-- seq -->
			type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,path
			,pSeq
		)
		VALUES (
			<!-- #{seq} -->
			#{type}
			,#{defaultNY}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{path}
			,#{pSeq}
		)
	</insert>
	
	<select id="selectPostImg" resultMap="resultMapObj">
		SELECT
			seq
			,type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,delNY
			,pSeq
			,path
		FROM uploadedPost
		WHERE 1=1
			AND pSeq = #{shSeq}
	</select>
	
	<!-- search -->
	<select id="searchPost" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			po.seq
			,po.category
			,mm.id as writer
			,po.title
			,po.contents
			,po.createDate
			,(
				SELECT 
					COUNT(*) 
				FROM thumbUp 
				WHERE poSeq = po.seq
			) AS thumbUpCount
		<include refid="selectCommon"/>
		JOIN member mm ON mm.seq = po.writer 
		WHERE 1=1
		<choose>
			<when test="shCategory == null"></when>
			<when test="shCategory == 1"> AND po.category LIKE 1 </when>
			<when test="shCategory == 2"> AND po.category LIKE 2 </when>
			<when test="shCategory == 3"> AND po.category LIKE 3 </when>
		</choose>
		
		<choose>
			<when test="shOption == null"></when>
			<when test="shOption == 1">AND po.title LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND mm.id LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
		ORDER BY seq DESC
		<include refid="Base.orderByLimitForMysql"/>
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	
	<insert id="thumbUp">
		INSERT INTO thumbUp (
			poSeq
			,mmSeq
		)
		VALUES (
			#{shSeq}
			,#{writer}
		)
	</insert>
	
	<delete id="thumbDown">
		DELETE
		FROM thumbUp
		WHERE poSeq = #{shSeq}
			AND mmSeq = #{writer}
	</delete>
	
	<select id="thumbUpList" resultMap="resultMapObj">
		SELECT
			seq
			,poSeq
			,mmSeq
		FROM thumbUp 
		WHERE poSeq = #{shSeq}
	</select>
	

</mapper>