<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.community.CommunityMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.community.Community"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			cm.seq
			,cm.category
			,mm.id as writer
			,cm.title
			,cm.contents
			,cm.createDate
			,cm.modiDate
			,cm.viewCount
		FROM community cm
		JOIN member mm ON mm.seq = cm.writer 
	</select> 
	
	<insert id="insert">
		INSERT INTO community(
			category
			,writer
			,title  
			,contents
		)
		VALUES (
			#{category}
			,#{writer}
			,#{title}
			,#{contents}
		)
	</insert>

</mapper>