<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.community.CommunityMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.community.Community"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			cm.seq
			,cm.category
			,mm.id as writer
			,cm.title
			,cm.contents
			,cm.createDate
			,cm.modiDate
			,cm.viewCount
		FROM community cm
		JOIN member mm ON mm.seq = cm.writer 
	</select>
	
	<!-- myPageCommunityList -->
	<select id="MyselectList" resultMap="resultMapObj">
		SELECT
			cm.seq
			,cm.category
			,mm.id as writer
			,cm.title
			,cm.contents
			,cm.createDate
			,cm.modiDate
			,cm.viewCount
		FROM community cm
		JOIN member mm ON mm.seq = cm.writer 
		WHERE 1=1
			AND cm.writer = #{writer}
	</select>  
	
	<insert id="insert">
		INSERT INTO community(
			category
			,writer
			,title  
			,contents
		)
		VALUES (
			#{category}
			,#{writer}
			,#{title}
			,#{contents}
		)
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			cm.category
			,mm.id as writer
			,cm.title
			,cm.contents
			,cm.createDate
			,cm.viewCount
		From community cm
		JOIN member mm ON mm.seq = cm.writer 
		WHERE 1=1
			AND cm.seq=#{shSeq}
	</select>
	
	<!-- <update id="update">
		UPDATE community
		SET
			cm.seq
			,cm.category
			,mm.id as writer
			,cm.title
			,cm.contents
			,cm.createDate
			,cm.modiDate
			,cm.viewCount
		From community cm
		JOIN member mm ON mm.seq = cm.writer
		WHERE 1=1
			AND seq={seq}
	</update> -->

	<select id="selectCountFromCategory" resultType="Integer" parameterType="Integer">
		SELECT
			COUNT(*)
		FROM community
		WHERE 1=1
			AND category = #{i}
	</select>
	
	<select id="selectCountNewFromCategory" resultType="Integer">
		SELECT
			COUNT(*)
		FROM community
		WHERE 1=1
			AND category = #{category}
			AND createDate LIKE CONCAT ('%',#{createDate},'%')
	</select>
	
	<select id="selectLastSeq" resultType="Integer"> <!-- 마지막 seq 조회 -->
		SELECT
			seq
		FROM community
		ORDER BY seq DESC
		LIMIT 1
	</select>
	
	<insert id="insertCommunityUpload">
		INSERT INTO uploadedCommunity (
			<!-- seq -->
			type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,path
			,pSeq
		)
		VALUES (
			<!-- #{seq} -->
			#{type}
			,#{defaultNY}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{path}
			,#{pSeq}
		)
	</insert>
	
	<select id="selectCommunityImg" resultMap="resultMapObj">
		SELECT
			seq
			,type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,delNY
			,pSeq
			,path
		FROM uploadedCommunity
		WHERE 1=1
			AND pSeq = #{pSeq}
	</select>


</mapper>