<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Base">
	
	<!-- SQL Upper -->
	<sql id="selectListUpperForMysql">
		SELECT
			aa.* 
		FROM (
	</sql>
	
	<!-- SQL Lower -->
	<sql id="selectListLowerForMysql">	
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</sql>
	
	<!-- 많은 데이터를 가져올때 limit이 있어야 잘리지 않고 다 가져올수 있다. -->
	<sql id="orderByLimitForMysql">
		LIMIT 99999999999
	</sql>
	
    
 
</mapper>