<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.crew.CrewMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.crew.Crew"></resultMap>
	
	<sql id="selectCommon">
		FROM crew cr
	</sql>
	
	<!-- paging -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM crew
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			cr.seq
			,mm.id as creator
			,cr.crewName
			,cr.sports
			,cr.location 
			,cr.locationDetail
			,cr.crewMemberNum
			,cr.startTime
			,cr.endTime
			,cr.detail
			,cr.viewCount
			,cr.playDate
		    ,upcr.uuidName
		    ,upcr.path
		<include refid="selectCommon"/>
		JOIN member mm ON cr.creator = mm.seq
		LEFT JOIN uploadedCrew upcr ON cr.seq = upcr.pSeq
		WHERE 1=1
			<!-- <choose>
				<when test="shSports != null">
					cr.sports = #{shSports}
				</when>
			</choose> --> 
		ORDER BY seq DESC
		<include refid="Base.orderByLimitForMysql"/>
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	<!-- paging -->
	
	<select id="MyselectList" resultMap="resultMapObj">
		SELECT
			cr.seq
			,mm.id as creator
			,cr.crewName
			,cr.sports
			,cr.location 
			,cr.crewMemberNum
			,cr.startTime
			,cr.endTime
			,cr.detail
			,cr.viewCount
			,cr.locationDetail
			,cr.playDate
		    ,upcr.uuidName
		    ,upcr.path
		FROM crew cr
		JOIN member mm ON cr.creator = mm.seq
		JOIN uploadedCrew upcr ON cr.seq = upcr.pSeq
		WHERE 1=1
			AND cr.creator = #{creator}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			cr.seq
			,mm.id
			,cr.creator
			,cr.crewName
			,cr.sports
			,cr.location 
			,cr.crewMemberNum
			,cr.startTime
			,cr.endTime
			,cr.detail
			,cr.viewCount
			,cr.locationDetail
			,cr.playDate
			,upmm.path
			,upmm.uuidName
			,(SELECT COUNT(*) FROM crMember WHERE 1=1 AND crSeq = #{seq}) AS crmmCount
		FROM crew cr
		LEFT JOIN member mm ON mm.seq = cr.creator
		LEFT JOIN uploadedMember upmm ON upmm.pSeq = mm.seq
		WHERE 1=1
			AND cr.seq = #{seq}
	</select>
	
	<select id="sports" resultMap="resultMapObj">
		SELECT
			ccg_seq
			,cc_name
			,cc_key
		FROM cc
		WHERE 1=1
			AND ccg_seq = 6
	</select>

	<insert id="insert">
		INSERT INTO crew (
			creator
			,crewName
			,sports
			,location
			,crewMemberNum
			,playDate
			,startTime
			,endTime
			,detail
			,locationDetail
		)
		VALUES (
			#{mmSeq}
			,#{crewName}
			,#{sports}
			,#{location}
			,#{crewMemberNum}
			,#{playDate}
			,#{startTime}
			,#{endTime}
			,#{detail}
			,#{locationDetail}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectLastSeq" resultType="Integer"> <!-- 마지막 seq 조회 -->
		SELECT
			seq
		FROM crew
		ORDER BY seq DESC
		LIMIT 1
	</select>
	
	<insert id="crewImgUpload">
		INSERT INTO uploadedCrew (
			seq
			,type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,path
			,pSeq
		)
		VALUES (
			#{seq}
			,#{type}
			,#{defaultNY}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{path}
			,#{pSeq}
		)
	</insert>	
	
	<select id="selectGroupImg" resultMap="resultMapObj">
		SELECT
			*
		FROM uploadedSportsGroup
		WHERE 1=1
			AND pSeq = #{seq}
	</select>
	
	<select id="crMemberList" resultMap="resultMapObj">
		SELECT
			mm.seq
		    ,mm.name
		    ,upmm.path
		    ,upmm.uuidName
		FROM crew cr
		JOIN crMember crmm ON crmm.crSeq = cr.seq
		JOIN member mm ON mm.seq = crmm.mmSeq
		LEFT JOIN uploadedMember upmm ON upmm.pSeq = mm.seq
		WHERE 1=1
			AND cr.seq = #{seq}
	</select>
	
	<insert id="insertCrmm">
		INSERT INTO crMember (
			crLeaderNy
			,mmSeq
			,crSeq
		)
		VALUES (
			#{crLeaderNy}
			,#{mmSeq}
			,#{seq}
		)		
	</insert>
	
	<select id="joinCheck" resultType="Integer">
	select
	count(*)
	from crMember
	where 1=1
		and crSeq = #{seq}
	    and mmSeq = #{mmSeq}
	    and crLeaderNy = 0
	</select>
	
	<delete id="joinDel">
	DELETE
	from crMember
	where 1=1
		and crSeq = #{seq}
	    and mmSeq = #{mmSeq}
	    and crLeaderNy = 0
	</delete>	
	
	
</mapper>