<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.crew.CrewMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.crew.Crew"></resultMap>
	
	<sql id="selectCommon">
		FROM crew cr
	</sql>
	
	<!-- paging -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM crew
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			cr.seq
			,mm.id as creator
			,cr.crewName
			,cr.sports
			,cr.location 
			,cr.crewMemberNum
			,cr.startTime
			,cr.endTime
			,cr.detail
			,cr.viewCount
			,cr.map
			,cr.playDate
		    ,upcr.uuidName
		    ,upcr.path
		<include refid="selectCommon"/>
		JOIN member mm ON cr.creator = mm.seq
		LEFT JOIN uploadedCrew upcr ON cr.seq = upcr.pSeq
		ORDER BY seq DESC
		<include refid="Base.orderByLimitForMysql"/>
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	<!-- paging -->
	
	<select id="MyselectList" resultMap="resultMapObj">
		SELECT
			cr.seq
			,mm.id as creator
			,cr.crewName
			,cr.sports
			,cr.location 
			,cr.crewMemberNum
			,cr.startTime
			,cr.endTime
			,cr.detail
			,cr.viewCount
			,cr.map
			,cr.playDate
		    ,upcr.uuidName
		    ,upcr.path
		FROM crew cr
		JOIN member mm ON cr.creator = mm.seq
		JOIN uploadedCrew upcr ON cr.seq = upcr.pSeq
		WHERE 1=1
			AND cr.creator = #{creator}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			cr.seq
			,mm.id
			,cr.creator
			,cr.crewName
			,cr.sports
			,cr.location 
			,cr.crewMemberNum
			,cr.startTime
			,cr.endTime
			,cr.detail
			,cr.viewCount
			,cr.map
			,cr.playDate
			,upmm.path
			,upmm.uuidName
		FROM crew cr
		LEFT JOIN member mm ON mm.seq = cr.creator
		LEFT JOIN uploadedMember upmm ON upmm.pSeq = mm.seq
		WHERE 1=1
			AND cr.seq=#{shSeq}
	</select>
	
	<select id="sports" resultMap="resultMapObj">
		SELECT
			ccg_seq
			,cc_name
			,cc_key
		FROM cc
		WHERE 1=1
			AND ccg_seq = 6
	</select>

	<insert id="insert">
		INSERT INTO crew (
			creator
			,crewName
			,sports
			,location
			,crewMemberNum
			,playDate
			,startTime
			,endTime
			,detail
			,map
		)
		VALUES (
			#{creator}
			,#{crewName}
			,#{sports}
			,#{location}
			,#{crewMemberNum}
			,#{playDate}
			,#{startTime}
			,#{endTime}
			,#{detail}
			,#{map}
		)
	</insert>
	
	<select id="selectLastSeq" resultType="Integer"> <!-- 마지막 seq 조회 -->
		SELECT
			seq
		FROM crew
		ORDER BY seq DESC
		LIMIT 1
	</select>
	
	<insert id="crewImgUpload">
		INSERT INTO uploadedCrew (
			seq
			type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,path
			,pSeq
		)
		VALUES (
			#{seq}
			#{type}
			,#{defaultNY}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{path}
			,#{pSeq}
		)
	</insert>	
	
	<select id="selectGroupImg" resultMap="resultMapObj">
		SELECT
			*
		FROM uploadedSportsGroup
		WHERE 1=1
			AND pSeq = #{shSeq}
	</select>
	
	<select id="crMemberList" resultMap="resultMapObj">
		SELECT
			mm.seq
			,mm.id
			,mm.name
		FROM  crMember crmm 
		JOIN member mm 
        ON crmm.mmSeq = mm.seq
        WHERE 1=1
        AND crmm.crSeq = #{seq}
		AND crmm.crLeaderNy = 0
	</select>
	
	<!-- <insert id="insertCrmm">
		INSERT INTO crMember (
			crLeaderNy
			,mmSeq
			,crSeq
		)
		VALUES (
			#{}
			,#{}
			,#{}
		)
	</insert>
	
	<insert id="insertCrld">
		INSER INTO crMember (
			crLeaderNy
			,mmSeq
			,crSeq
		)
		VALUES (
			#{}
			,#{}
			,#{}
		)
	</insert>	 -->

</mapper>