<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.sportsGroup.SportsGroupMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.sportsGroup.SportsGroup"></resultMap>
	
	<sql id="selectCommon">
		FROM sportsGroup sg
	</sql>
	
	<!-- paging -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM sportsGroup
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			sg.seq
			,mm.id as creator
			,sg.group_name
			,sg.sports
			,sg.location 
			,sg.people_number
			,sg.startTime
			,sg.endTime
			,sg.detail
			,sg.viewCount
			,sg.map
			,sg.playDate
		    ,upsg.uuidName
		    ,upsg.path
		<include refid="selectCommon"/>
		JOIN member mm ON sg.creator = mm.seq
		JOIN uploadedSportsGroup upsg ON sg.seq = upsg.pSeq
		ORDER BY seq DESC
		<include refid="Base.orderByLimitForMysql"/>
		<include refid="Base.selectListLowerForMysql"/>
	</select>
	<!-- paging -->
	
	<select id="MyselectList" resultMap="resultMapObj">
		SELECT
			sg.seq
			,mm.id as creator
			,sg.group_name
			,sg.sports
			,sg.location 
			,sg.people_number
			,sg.startTime
			,sg.endTime
			,sg.detail
			,sg.viewCount
			,sg.map
			,sg.playDate
		    ,upsg.uuidName
		    ,upsg.path
		FROM sportsGroup sg
		JOIN member mm ON sg.creator = mm.seq
		JOIN uploadedSportsGroup upsg ON sg.seq = upsg.pSeq
		WHERE 1=1
			AND sg.creator = #{creator}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			sg.seq
			,mm.id as creator
			,sg.group_name
			,sg.sports
			,sg.location 
			,sg.people_number
			,sg.startTime
			,sg.endTime
			,sg.detail
			,sg.viewCount
			,sg.map
			,sg.playDate
		FROM sportsGroup sg
		JOIN member mm ON mm.seq = sg.creator
		WHERE 1=1
			AND sg.seq=#{shSeq}
	</select>
	
	<select id="sports" resultMap="resultMapObj">
		SELECT
			ccg_seq
			,cc_name
			,cc_key
		FROM cc
		WHERE 1=1
			AND ccg_seq = 6
	</select>

	<insert id="insert">
		INSERT INTO sportsGroup (
			creator
			,group_name
			,sports
			,location
			,people_number
			,playDate
			,startTime
			,endTime
			,detail
			,map
		)
		VALUES (
			#{creator}
			,#{group_name}
			,#{sports}
			,#{location}
			,#{people_number}
			,#{playDate}
			,#{startTime}
			,#{endTime}
			,#{detail}
			,#{map}
		)
	</insert>
	
	<select id="selectLastSeq" resultType="Integer"> <!-- 마지막 seq 조회 -->
		SELECT
			seq
		FROM sportsGroup
		ORDER BY seq DESC
		LIMIT 1
	</select>
	
	<insert id="groupImgUpload">
		INSERT INTO uploadedSportsGroup (
			<!-- seq -->
			type
			,defaultNY
			,sort
			,originalName
			,uuidName
			,ext
			,size
			,path
			,pSeq
		)
		VALUES (
			<!-- #{seq} -->
			#{type}
			,#{defaultNY}
			,#{sort}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,#{path}
			,#{pSeq}
		)
	</insert>	
	
	<!-- <select id="selectGroupImg" resultMap="resultMapObj">
		SELECT
			*
		FROM uploadedSportsGroup
		WHERE 1=1
			AND pSeq = #{shSeq}
	</select> -->
	
	
	

</mapper>