<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.sportsGroup.SportsGroupMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.sportsGroup.SportsGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq
			,creator
			,group_name
			,sports
			,location
			,people_number
			,startTime
			,endTime
			,detail
			,map
			,viewCount
			,playDate
		FROM sportsGroup
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			sg.seq
			,mm.id as creator
			,sg.group_name
			,sg.sports
			,sg.location 
			,sg.people_number
			,sg.startTime
			,sg.endTime
			,sg.detail
			,sg.viewCount
			,sg.map
			,sg.playDate
		FROM sportsGroup sg
		JOIN member mm ON mm.seq = sg.creator
		WHERE 1=1
			AND sg.seq=#{shSeq}
	</select>
	
	<select id="sports" resultMap="resultMapObj">
		SELECT
			ccg_seq
			,cc_name
			,cc_key
		FROM cc
		WHERE 1=1
			AND ccg_seq = 6
	</select>

	<insert id="insert">
		INSERT INTO sportsGroup (
			creator
			,group_name
			,sports
			,location
			,people_number
			,playDate
			,startTime
			,endTime
			,detail
			,map
		)
		VALUES (
			#{creator}
			,#{group_name}
			,#{sports}
			,#{location}
			,#{people_number}
			,#{playDate}
			,#{startTime}
			,#{endTime}
			,#{detail}
			,#{map}
		)
	</insert>	
	

</mapper>