<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq
			,cc_name
			,useNY
			,delNY
			,cc_key
			,ccg_seq
			,createDate
			,modiDate
		FROM cc
	</select>
	
	<select id="search" resultMap="resultMapObj">
		SELECT
			seq
			,cc_name
			,useNY
			,delNY
			,cc_key
			,ccg_seq
			,createDate
			,modiDate
		FROM cc
		WHERE 1=1
			<choose>
				<when test="shUseNY == null"></when>
				<when test="shUseNY == 1">AND useNY LIKE 1</when>
				<when test="shUseNY == 2">AND useNY LIKE 2</when>
			</choose>
			<choose>
				<when test="shDelNY == null"></when>
				<when test="shDelNY == 1">AND delNY LIKE 1</when>
				<when test="shDelNY == 2">AND delNY LIKE 2</when>
			</choose>
			<choose>
				<when test="shDate == null"></when>
				<when test="shDate == 1">AND createDate BETWEEN #{shStartDate} AND #{shEndDate}</when>  
				<when test="shDate == 2">AND modiDate BETWEEN #{shStartDate AND #{shEndDate}</when>
			</choose>
			<choose>
				<when test="shOption == null"></when>
				<when test="shOption == 1">AND cc_name LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj" >
		SELECT
			a.cc_name
			,a.useNY
			,delNY
			,a.cc_key
			,a.ccg_seq
			,a.createDate
			,a.modiDate
		FROM cc
		WHERE 1=1
			AND seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO cc (
			cc_name
			,useNY
			,delNY
			,cc_key
			,ccg_seq
		)
		VALUES (
			#{cc_name}
			,#{useNY}
			,#{delNY}
			,#{cc_key}
			,#{ccg_seq}
		)
		;
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()   <!-- 새로 생성된 데이터가 몇번째인지 확인할수 있는 문구 출력 -->
		</selectKey>
	</insert>
	
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT  
			seq
			, cc_name
			, ccg_seq
			,cc_key
		FROM
			cc
		WHERE 1=1
		    AND useNY = 2
    </select>
	

</mapper>	