<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT distinct
			seq
	    	,ccg_name
	    	,useNY
	   		,(SELECT COUNT(ccg_seq) FROM cc where ccg_seq = a.seq) as codeCount
		FROM ccg a;
	</select>

</mapper>