<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woo.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.woo.infra.modules.codegroup.CodeGroup"></resultMap>  <!-- dto type으로 결과값을 가져온다. -->
	
	<sql id ="selectCommon">
		FROM ccg a
		WHERE 1=1
			<if test="shDelNY != null and !shDelNY.equals('')">AND DelNY = #{shDelNY}</if>
			<choose>
				<when test="shOption == 1">AND seq = #{shValue}</when>
				<when test="shOption == 2">AND ccg_name LIKE CONCAT('%',#{shValue},'%')</when>
				<!-- <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
			</choose>
	</sql>
	
	<!-- ===paging=== -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.seq
				,a.ccg_name
				,a.useNY
		    	,a.delNY
		    	,a.createDate
		    	,a.modiDate
		   		,(SELECT COUNT(ccg_seq) FROM cc where ccg_seq = a.seq) as xCodeCount
		<include refid="selectCommon" />
			ORDER BY a.seq ASC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
   <!-- ===paging=== -->
   
   
	<select id="search" resultMap="resultMapObj">
		SELECT
			seq
	    	,ccg_name
	    	,useNY
	    	,delNY
	    	,createDate
	    	,modiDate
	   		,(SELECT COUNT(ccg_seq) FROM cc where ccg_seq = a.seq) as xCodeCount
		FROM ccg a
		WHERE 1=1
		<choose>
			<when test="shUseNY == null"></when>
			<when test="shUseNY == 1"> AND useNY LIKE 1 </when>
			<when test="shUseNY == 2"> AND useNY LIKE 2 </when>
		</choose>
		
		<choose>
			<when test="shDelNY == null"></when>
			<when test="shDelNY == 1"> AND delNY LIKE 1</when>
			<when test="shDelNY == 2"> AND delNY LIKE 2</when>
		</choose>
		
		<choose>
			<when test="shDate == null"></when>
			<when test="shDate == 1"> AND createDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
			<when test="shDate == 2"> AND modiDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
		</choose>
		
		<choose>
			<when test="shOption == null"></when>
			<when test="shOption == 1">AND ccg_name LIKE CONCAT ('%',#{shValue},'%')</when>
		</choose>
	</select>
	
	<insert id="insert">
		<!-- <if test="shUseNY != null and !shUseNY.equals('')">AND ccgUseNY = #{shUseNY}</if> -->
		INSERT INTO ccg (
		    ccg_name
		    ,useNY
		    ,delNY
		)
		VALUES (
			#{ccg_name}    <!-- 내가 직접 입력하는 값일때는 #{}로 쓰고 안에는 알아볼수 있게 동일한 이름으로 표시해준다. -->
		    ,#{useNY}
		    ,#{delNY}
		)
		;
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()   <!-- 새로 생성된 데이터가 몇번째인지 확인할수 있는 문구 출력 -->
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq
			,ccg_name
			,useNY
	    	,delNY
	    	,createDate
	    	,modiDate
		FROM ccg
		WHERE 1=1
			AND seq = #{shSeq} 
	</select>
	
	<update id="update">
		UPDATE ccg
		SET
			ccg_name = #{ccg_name}
			,useNY = #{useNY}
			,delNY = #{delNY}
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE
			seq = #{seq}
	</update>
	<update id="uelete">
		UPDATE ccg
		SET
			delNY = 1
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE seq = #{seq} 
	</update>
	
	<delete id="delete">
		DELETE FROM ccg
		WHERE seq = #{seq}
	</delete>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			seq
			,ccg_name
		FROM ccg
		WHERE 1=1
			AND delNY = 0
			AND useNY = 1
		ORDER BY seq DESC
	</select>
	

	
	
	
</mapper>